<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmg.p2p.base.mapper.UserInfoMapper">

	<resultMap id="BaseResultMap" type="com.xmg.p2p.base.domain.UserInfo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="version" jdbcType="INTEGER" property="version" />
		<result column="bitState" jdbcType="BIGINT" property="bitState" />
		<result column="realName" jdbcType="VARCHAR" property="realName" />
		<result column="idNumber" jdbcType="VARCHAR" property="idNumber" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="realAuthId" jdbcType="VARCHAR" property="realAuthId" />
		<result column="phoneNumber" jdbcType="VARCHAR" property="phoneNumber" />
		<result column="score" jdbcType="VARCHAR" property="score" />

		<association column="incomeGrade_id"
			javaType="com.xmg.p2p.base.domain.SystemDictionaryItem" property="incomeGrade"
			select="com.xmg.p2p.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey" />
		<association column="marriage_id"
			javaType="com.xmg.p2p.base.domain.SystemDictionaryItem" property="marriage"
			select="com.xmg.p2p.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey" />
		<association column="kidCount_id"
			javaType="com.xmg.p2p.base.domain.SystemDictionaryItem" property="kidCount"
			select="com.xmg.p2p.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey" />
		<association column="educationBackground_id"
			javaType="com.xmg.p2p.base.domain.SystemDictionaryItem" property="educationBackground"
			select="com.xmg.p2p.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey" />
		<association column="houseCondition_id"
			javaType="com.xmg.p2p.base.domain.SystemDictionaryItem" property="houseCondition"
			select="com.xmg.p2p.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey" />

	</resultMap>

	<delete id="deleteByPrimaryKey">
		delete from `userinfo`
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insert">
		insert into `userinfo` (id, version, bitState, realName,
		idNumber, phoneNumber, incomeGrade_id,email,realAuthId,score,
		marriage_id, kidCount_id, educationBackground_id,
		houseCondition_id)
		values (#{id},0, #{bitState,jdbcType=BIGINT}, #{realName,jdbcType=VARCHAR},
		#{idNumber,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR},
		#{incomeGrade.id,jdbcType=BIGINT},#{email},#{realAuthId},#{score},
		#{marriage.id,jdbcType=BIGINT}, #{kidCount.id,jdbcType=BIGINT},
		#{educationBackground.id,jdbcType=BIGINT},
		#{houseCondition.id,jdbcType=BIGINT})
	</insert>

	<update id="updateByPrimaryKey">
		update `userinfo`
		set
		version = version+1,
		bitState = #{bitState,jdbcType=BIGINT},
		realName = #{realName,jdbcType=VARCHAR},
		idNumber = #{idNumber,jdbcType=VARCHAR},
		phoneNumber = #{phoneNumber,jdbcType=VARCHAR},
		incomeGrade_id = #{incomeGrade.id,jdbcType=BIGINT},
		marriage_id = #{marriage.id,jdbcType=BIGINT},
		kidCount_id = #{kidCount.id,jdbcType=BIGINT},
	    email = #{email,jdbcType=VARCHAR},
	    realAuthId = #{realAuthId},
	    score = #{score},
		educationBackground_id = #{educationBackground.id,jdbcType=BIGINT},
		houseCondition_id = #{houseCondition.id,jdbcType=BIGINT}
		where
		id = #{id,jdbcType=BIGINT} AND version = #{version }
	</update>


	<sql id="base_column">
		id, version, bitState, realName, idNumber, phoneNumber, incomeGrade_id,
		marriage_id,email,realAuthId,score,
		kidCount_id, educationBackground_id, houseCondition_id
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select
		<include refid="base_column" />
		from `userinfo`
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="base_column" />
		from `userinfo`
	</select>
	
	<select id="autocomplate" resultType="hashmap">
	   SELECT id, username 
	   FROM logininfo WHERE username LIKE concat(#{keyword},'%') 
	</select>
</mapper>